[submodule "di"]
	path = di
	url = https://github.com/boost-experimental/di.git
[submodule "RxCpp"]
	path = RxCpp
	url = git@github.com:ReactiveX/RxCpp.git
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = git@github.com:jbeder/yaml-cpp.git
[submodule "rang"]
	path = rang
	url = git@github.com:agauniyal/rang.git
